/.settings
/bin
/gen
/.checkstyle
/.classpath
/.project
/lint.xml
/project.properties

.gradle/
**/build/

.idea/
*.iml
*.ipr
*.iws

local.properties

captures/
.externalNativeBuild/
.cxx/

*.apk
*.ap_
*.aab

*.dex
*.class

out/

*.log
*.hprof

.DS_Store
Thumbs.db
